@keyframes glowing-info-message {
  0% {
    color: var(--dungeon-purple);
    text-shadow: 0 0.1rem 0.4rem var(--dungeon-purple);
  }
  25% {
    color: var(--dungeon-lightBlue);
    text-shadow: 0 0.1rem 0.4rem var(--dungeon-lightBlue);
  }
  50% {
    color: var(--dungeon-purple);
    text-shadow: 0 0.1rem 0.4rem var(--dungeon-gray);
  }
  75% {
    color: var(--dungeon-lightBlue);
    text-shadow: 0 0.1rem 0.4rem var(--dungeon-lightBlue);
  }
  100% {
    color: var(--dungeon-purple);
    text-shadow: 0 0.1rem 0.4rem var(--dungeon-purple);
  }
}

@keyframes fontAwesome-rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

:root {
  --dungeon-purple: #4e1b42;
  --dungeon-orangy: #ffbe55;
  --dungeon-orange: #ff9c00;
  --dungeon-gray: gray;
  --dungeon-deepBlue: #2a124f;
  --dungeon-lightBlue: #61eafd;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: clamp(0.5rem, 1.5vw, 2rem);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: url("../media/images/dungeon-door-for-own-word-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  min-height: 100vh;
  font-family: "MedievalSharp", "Times New Roman", Times, serif;
}

.hidden_mQuery_alert {
  display: none;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

/* .header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
  } */

.input_txt_area {
  background-color: transparent;
  font-size: 1.3rem;
  color: var(--dungeon-lightBlue);
  border: none;
  resize: none;
  width: 100%;
  padding: 0.7rem;
  margin-top: 3rem;
}

.input_txt_area:focus {
  outline: none;
}

.input_txt_area::placeholder {
  font-size: 1.3rem;
  color: var(--dungeon-gray);
}

.textarea_info_message {
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
  padding: 1rem;
  animation: glowing-info-message 5s infinite;
}

.textarea_info_message:hover {
  color: var(--dungeon-lightBlue);
  text-shadow: 0 0 0.5rem var(--dungeon-lightBlue);
}

.btn_holder {
  display: flex;
  justify-content: space-between;
  width: 65%;
  align-self: center;
  padding: 1rem;
  margin: 0 0 1rem 0;
}

.game__btn {
  display: inline-block;
  text-decoration: none;
  font-size: 1.5rem;
  background: var(--dungeon-purple);
  color: var(--dungeon-gray);
  border-radius: 0.5rem;
  padding: 1.5rem 2rem;
  cursor: pointer;
  transition: 0.5s all; /*for hover*/
}

.game__btn:hover {
  background: var(--dungeon-deepBlue);
  color: var(--dungeon-lightBlue);
  transform: scale(1.1);
}

.footer {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 1rem;
  color: var(--dungeon-purple);
  padding: 0.2rem;
  transition: 0.5s;
  background-color: transparent;
}

.footer:hover {
  color: var(--dungeon-lightBlue);
}

/*MEDIA QUERIES*/

@media (max-width: 1200px) {
  .input_txt_area {
    font-size: 2rem;
  }

  .input_txt_area::placeholder {
    font-size: 2rem;
  }

  .textarea_info_message {
    font-size: 1.5rem;
  }

  .btn_holder {
    width: 80%;
  }

  .game__btn {
    font-size: 2rem;
  }
}

@media screen and (orientation: portrait) {
  .hidden_mQuery_alert {
    display: block;
    position: absolute;
    z-index: 10;
    top: 10vh;
    left: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    background-color: var(--dungeon-purple);
    color: var(--dungeon-lightBlue);
    border-radius: 1rem;
    height: 70%;
    width: 80%;
  }

  .hidden__title {
    padding: 2rem;
    font-size: 2.5rem;
  }

  .fa-arrows-rotate {
    font-size: 4rem;
    animation: fontAwesome-rotation 2s infinite ease-in-out;
  }

  .btn_holder,
  .txt_figC_container {
    display: none;
  }
}
